# General
temp/*
test/bin/*
build.config
build
android/build/*
build.properties

# Eclipse FDT
.settings/*
.project

# Intellij
.idea/
*.iml
*.iws

# Eclipse JDT
android/bin
android/gen
android/res
.classpath
proguard-project.txt

# Xcode
xcuserdata
.xcworkspace

# OS X
Icon
Thumbs.db
.DS_Store
